:root {
  --primary-color: #63109c;
  --secondary-color: rgba(146, 4, 255, 0.25);
}

#app {
  background-image: url("../img/background.png?v=0.0.7");
  background-size: 100%;
}

pre {
  background-color: black;
  color: white;
  width: 50rem;
  font-size: 0.75rem;
  overflow: auto;
}

/* Movil */
@media (max-width: 40rem) {
  article > div {
    flex-direction: column;
  }
  pre {
    width: 20rem;
  }
}
