:root {
  --primary-color: #63109c;
  --secondary-color: rgba(146, 4, 255, 0.25);
}

#app {
  background-image: url("../img/background.png?v=0.0.6");
  background-size: 100%;
}

/* Movil */
@media (max-width: 40rem) {
  article > div {
    flex-direction: column;
  }
}
