:root {
  --primary-color: #63109c;
  --secondary-color: rgba(146, 4, 255, 0.25);
}

#app {
  background-image: url("../img/background.webp?v=0.0.18");
  background-size: 100%;
}

iframe {
  width: 50rem;
  overflow: auto;
  border: 0;
  height: 20rem;
}

#floating-menu {
  height: 0;
  overflow: hidden;
  transition: 1s;
}

#floating-menu.show {
  height: 15rem;
}

/* Tablet */
@media (max-width: 60rem) {
  article > div {
    flex-direction: column;
  }
  iframe {
    width: 100%;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
