:root {
  --primary-color: #33d5fc;
  --secondary-color: #cee4ea;
}

[data-tooltip] {
  position: relative;
  text-decoration: underline;

  &[data-position="right"]::before {
    top: -50%;
    left: 105%;
    transform: translateX(-20px);
  }

  &[data-position="bottom"]::before {
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
  }

  &[data-position="left"]::before {
    top: -50%;
    right: 105%;
    left: auto;
    transform: translateX(20px);
  }

  &:hover::before {
    transform: translate(0);
    opacity: 1;
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    display: block;
    background: #fff;
    padding: 10px;
    top: -50px;
    box-shadow: 0px 2px 5px #0000008c;
    border-radius: 3px;
    text-align: center;
    left: 50%; /* Centrado horizontal */
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px) translateX(-50%); /* Centrado horizontal */
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.font-size-small {
  font-size: 0.75rem;
}

.font-size-medium {
  font-size: 1rem;
}

.font-size-large {
  font-size: 1.25rem;
}

.font-size-xlarge {
  font-size: 1.5rem;
}

.font-size-xxlarge {
  font-size: 2rem;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.display-grid {
  display: grid;
}

.display-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.gap-small {
  gap: 0.5rem;
}

.gap-medium {
  gap: 1rem;
}

.gap-large {
  gap: 1.5rem;
}

.margin-auto {
  margin: auto;
}

.padding-small {
  padding: 0.5rem;
}

.padding-medium {
  padding: 1rem;
}

.padding-large {
  padding: 1.5rem;
}

.background-color-primary {
  background-color: var(--primary-color);
}

.background-color-secondary {
  background-color: var(--secondary-color);
}

.background-color-white {
  background-color: white;
}

.color-white {
  color: white;
}

.text-align-right {
  text-align: right;
}

.text-decoration-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.color-black {
  color: black;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.width-full {
  width: 100%;
}

.min-width-small-xs {
  min-width: 10rem;
}

.min-width-small {
  min-width: 20rem;
}

.min-width-medium {
  min-width: 40rem;
}

.min-width-large {
  min-width: 60rem;
}

.max-width-small {
  max-width: 20rem;
}

.max-width-medium {
  max-width: 40rem;
}

.max-width-large {
  max-width: 60rem;
}

.min-height-small {
  min-height: 10rem;
}

.min-height-medium {
  min-height: 20rem;
}

.min-height-large {
  min-height: 30rem;
}

.max-height-small {
  max-height: 10rem;
}

.max-height-medium {
  max-height: 20rem;
}

.max-height-large {
  max-height: 30rem;
}

.float-right {
  float: right;
}

/* Movil */
@media (max-width: 40rem) {
  .hide-mobile {
    display: none;
  }
}

/* Tablet */
@media (max-width: 60rem) {
  .hide-tablet {
    display: none;
  }
}

@media (min-width: 40rem) {
  .show-mobile {
    display: none;
  }
}

@media (min-width: 60rem) {
  .show-tablet {
    display: none;
  }
}
